<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * Sofinco3X Epayment module for Magento
 *
 * Feel free to contact Sofinco3X at support@paybox.com for any
 * question.
 *
 * LICENSE: This source file is subject to the version 3.0 of the Open
 * Software License (OSL-3.0) that is available through the world-wide-web
 * at the following URI: http://opensource.org/licenses/OSL-3.0. If
 * you did not receive a copy of the OSL-3.0 license and are unable
 * to obtain it through the web, please send a note to
 * support@paybox.com so we can mail you a copy immediately.
 *
 *
 * @version   3.0.6
 * @author    BM Services <contact@bm-services.com>
 * @copyright 2012-2017 Sofinco3X
 * @license   http://opensource.org/licenses/OSL-3.0
 * @link      http://www.paybox.com/
 */
 -->
<config>
    <modules>
        <Sofinco3X_Epayment>
            <version>3.0.6</version>
        </Sofinco3X_Epayment>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Sofinco3X_Epayment>
                    <files>
                        <default>Sofinco3X_Epayment.csv</default>
                    </files>
                </Sofinco3X_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <sf3xep>
                    <file>sf3xep.xml</file>
                </sf3xep>
            </updates>
        </layout>
    	<routers>
            <sf3xep>
                <use>standard</use>
                <args>
                    <module>Sofinco3X_Epayment</module>
                    <frontName>sofinco</frontName>
                </args>
            </sf3xep>
    	</routers>
    </frontend>
    <global>
        <blocks>
            <sf3xep>
                <class>Sofinco3X_Epayment_Block</class>
            </sf3xep>
        </blocks>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <sf3xep_after_order_save>
                        <class>sf3xep/observer</class>
                        <method>onAfterOrderSave</method>
                    </sf3xep_after_order_save>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <helpers>
            <sf3xep>
                <class>Sofinco3X_Epayment_Helper</class>
            </sf3xep>
        </helpers>
        <models>
            <sf3xep>
                <class>Sofinco3X_Epayment_Model</class>
                <resourceModel>paypal_resource</resourceModel>
            </sf3xep>
            <sf3xep_resource>
                <class>Sofinco3X_Epayment_Model_Resource</class>
            </sf3xep_resource>
        </models>
        <resources>
            <sf3xep_setup>
                <setup>
                    <module>Sofinco3X_Epayment</module>
                    <class>Sofinco3X_Epayment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sf3xep_setup>
            <sf3xep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sf3xep_write>
            <sf3xep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sf3xep_read>
            <sf3xep_helpers>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </sf3xep_helpers>
        </resources>
    </global>
    <crontab>
        <jobs>
            <sf3xep_cron_cancel>
                <schedule>
                    <config_path>sf3xep/cron_expression</config_path>
                </schedule>
                <run>
                    <model>sf3xep/observer::cancelTask</model>
                </run>
            </sf3xep_cron_cancel>

        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sofinco3X_Epayment before="Mage_Adminhtml">Sofinco3X_Epayment_Adminhtml</Sofinco3X_Epayment>
                        <direct_invoice before="Mage_Adminhtml">Sofinco3X_Epayment_Adminhtml</direct_invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Sofinco3X_Epayment>
                    <files>
                        <default>Sofinco3X_Epayment.csv</default>
                    </files>
                </Sofinco3X_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <sf3xep>
                    <file>sf3xep.xml</file>
                </sf3xep>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <sf3xep_append>
                        <type>singleton</type>
                        <class>sf3xep/observer</class>
                        <method>addBlockAtEndOfMainContent</method>
                    </sf3xep_append>
                </observers>
            </controller_action_layout_load_before>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <sf3xep_before_admin_order_create>
                        <class>sf3xep/observer_adminCreateOrder</class>
                        <method>onBeforeCreate</method>
                    </sf3xep_before_admin_order_create>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <checkout_submit_all_after>
                <observers>
                    <sf3xep_before_admin_order_save>
                        <class>sf3xep/observer_adminCreateOrder</class>
                        <method>onAfterSubmit</method>
                    </sf3xep_before_admin_order_save>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <default>
        <sf3xep>
            <environment>TEST</environment>
            <automatic_invoice>0</automatic_invoice>
            <info_to_customer>1</info_to_customer>
            <debug>1</debug>
            <merchant>
                <site>1999888</site>
                <rank>77</rank>
                <identifier>3262411</identifier>
                <default_password>1999888I</default_password>
                <default_hmackey>0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF</default_hmackey>
                <hmacalgo>SHA512</hmacalgo>
                <subscription>flexible</subscription>
            </merchant>
            <languages>
                <fr>FRA</fr>
                <es>ESP</es>
                <it>ITA</it>
                <de>DEU</de>
                <nl>NLD</nl>
                <sv>SWE</sv>
                <pt>PRT</pt>
                <default>GBR</default>
            </languages>
            <allowedips>194.2.122.158,195.25.7.166,195.101.99.76,194.2.122.190,195.25.67.22</allowedips>
            <cron_status>1</cron_status>
            <cron_time>10</cron_time>
            <cron_expression>*/15 * * * *</cron_expression>
            <!--
            <kwixo>
                <default_carrier_type>4</default_carrier_type>
                <default_carrier_speed>2</default_carrier_speed>
                <default_categorie>1</default_categorie>
            </kwixo> -->
        </sf3xep>
        <payment>
            <sf3xep_cb>
                <active>1</active>
                <model>sf3xep/payment_cb</model>
                <title>Paiement en</title>
                <allowspecific>0</allowspecific>
                <cctypes>SOF3X, SOF3XSF</cctypes>
                <status>
                    <paid>sf3xep_paid</paid>
                    <authorized>sf3xep_authorized</authorized>
                </status>
                <action>immediate</action>
                <delay>1</delay>
                <cards>
                    <SOF3X>
                        <label>3XCB</label>
                        <image>images/sf3xep/sof3X.45.png</image>
                        <payment>LIMONETIC</payment>
                        <card>SOF3X</card>
                    </SOF3X>
                    <SOF3XSF>
                        <label>3XCB sans frais</label>
                        <image>images/sf3xep/sof3Xsf.45.png</image>
                        <payment>LIMONETIC</payment>
                        <card>SOF3XSF</card>
                    </SOF3XSF>
                </cards>
            </sf3xep_cb>
        </payment>
    </default>
</config>
