<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * Sofinco3X Epayment module for Magento
 *
 * Feel free to contact Sofinco3X at support@paybox.com for any
 * question.
 *
 * LICENSE: This source file is subject to the version 3.0 of the Open
 * Software License (OSL-3.0) that is available through the world-wide-web
 * at the following URI: http://opensource.org/licenses/OSL-3.0. If
 * you did not receive a copy of the OSL-3.0 license and are unable
 * to obtain it through the web, please send a note to
 * support@paybox.com so we can mail you a copy immediately.
 *
 *
 * @version   3.0.6
 * @author    BM Services <contact@bm-services.com>
 * @copyright 2012-2017 Sofinco3X
 * @license   http://opensource.org/licenses/OSL-3.0
 * @link      http://www.paybox.com/
 */
 -->
<config>
    <modules>
        <Sofinco3X_Epayment>
            <version>3.0.6</version>
        </Sofinco3X_Epayment>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Sofinco3X_Epayment>
                    <files>
                        <default>Sofinco3X_Epayment.csv</default>
                    </files>
                </Sofinco3X_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <sf3xep>
                    <file>sf3xep.xml</file>
                </sf3xep>
            </updates>
        </layout>
    	<routers>
            <sf3xep>
                <use>standard</use>
                <args>
                    <module>Sofinco3X_Epayment</module>
                    <frontName>paybox</frontName>
                </args>
            </sf3xep>
    	</routers>
    </frontend>
    <global>
        <blocks>
            <sf3xep>
                <class>Sofinco3X_Epayment_Block</class>
            </sf3xep>
        </blocks>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <sf3xep_after_order_save>
                        <class>sf3xep/observer</class>
                        <method>onAfterOrderSave</method>
                    </sf3xep_after_order_save>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <helpers>
            <sf3xep>
                <class>Sofinco3X_Epayment_Helper</class>
            </sf3xep>
        </helpers>
        <models>
            <sf3xep>
                <class>Sofinco3X_Epayment_Model</class>
                <resourceModel>paypal_resource</resourceModel>
            </sf3xep>
            <sf3xep_resource>
                <class>Sofinco3X_Epayment_Model_Resource</class>
            </sf3xep_resource>
        </models>
        <resources>
            <sf3xep_setup>
                <setup>
                    <module>Sofinco3X_Epayment</module>
                    <class>Sofinco3X_Epayment_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sf3xep_setup>
            <sf3xep_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sf3xep_write>
            <sf3xep_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sf3xep_read>
            <sf3xep_helpers>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </sf3xep_helpers>
        </resources>
    </global>
    <crontab>
        <jobs>
            <sf3xep_cron_cancel>
                <schedule>
                    <config_path>sf3xep/cron_expression</config_path>
                </schedule>
                <run>
                    <model>sf3xep/observer::cancelTask</model>
                </run>
            </sf3xep_cron_cancel>

        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sofinco3X_Epayment before="Mage_Adminhtml">Sofinco3X_Epayment_Adminhtml</Sofinco3X_Epayment>
                        <direct_invoice before="Mage_Adminhtml">Sofinco3X_Epayment_Adminhtml</direct_invoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Sofinco3X_Epayment>
                    <files>
                        <default>Sofinco3X_Epayment.csv</default>
                    </files>
                </Sofinco3X_Epayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <sf3xep>
                    <file>sf3xep.xml</file>
                </sf3xep>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <sf3xep_append>
                        <type>singleton</type>
                        <class>sf3xep/observer</class>
                        <method>addBlockAtEndOfMainContent</method>
                    </sf3xep_append>
                </observers>
            </controller_action_layout_load_before>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <sf3xep_before_admin_order_create>
                        <class>sf3xep/observer_adminCreateOrder</class>
                        <method>onBeforeCreate</method>
                    </sf3xep_before_admin_order_create>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <checkout_submit_all_after>
                <observers>
                    <sf3xep_before_admin_order_save>
                        <class>sf3xep/observer_adminCreateOrder</class>
                        <method>onAfterSubmit</method>
                    </sf3xep_before_admin_order_save>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <default>
        <sf3xep>
            <environment>TEST</environment>
            <automatic_invoice>0</automatic_invoice>
            <info_to_customer>1</info_to_customer>
            <debug>1</debug>
            <merchant>
                <site>1999888</site>
                <rank>77</rank>
                <identifier>3262411</identifier>
                <default_password>1999888I</default_password>
                <default_hmackey>0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF</default_hmackey>
                <hmacalgo>SHA512</hmacalgo>
                <subscription>flexible</subscription>
            </merchant>
            <languages>
                <fr>FRA</fr>
                <es>ESP</es>
                <it>ITA</it>
                <de>DEU</de>
                <nl>NLD</nl>
                <sv>SWE</sv>
                <pt>PRT</pt>
                <default>GBR</default>
            </languages>
            <allowedips>194.2.122.158,195.25.7.166,195.101.99.76,194.2.122.190,195.25.67.22</allowedips>
            <cron_status>1</cron_status>
            <cron_time>10</cron_time>
            <cron_expression>*/15 * * * *</cron_expression>
            <!--
            <kwixo>
                <default_carrier_type>4</default_carrier_type>
                <default_carrier_speed>2</default_carrier_speed>
                <default_categorie>1</default_categorie>
            </kwixo> -->
        </sf3xep>
        <payment>
            <sf3xep_cb>
                <active>1</active>
                <model>sf3xep/payment_cb</model>
                <title>Paiement par carte bancaire</title>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status>
                    <paid>sf3xep_paid</paid>
                    <authorized>sf3xep_authorized</authorized>
                </status>
                <action>immediate</action>
                <delay>1</delay>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/sf3xep/cb.45.png</image>
                        <payment>CARTE</payment>
                        <card>CB</card>
                    </CB>
                    <VISA>
                        <label>Visa</label>
                        <image>images/sf3xep/visa.45.png</image>
                        <payment>CARTE</payment>
                        <card>VISA</card>
                    </VISA>
                    <EUROCARD_MASTERCARD>
                        <label>Mastercard</label>
                        <image>images/sf3xep/mastercard.45.png</image>
                        <payment>CARTE</payment>
                        <card>EUROCARD_MASTERCARD</card>
                    </EUROCARD_MASTERCARD>
                    <E_CARD>
                        <label>E-Carte Bleue</label>
                        <image>images/sf3xep/ecartebleue.45.png</image>
                        <payment>CARTE</payment>
                        <card>E_CARD</card>
                    </E_CARD>
                </cards>
            </sf3xep_cb>
            <sf3xep_threetime>
                <active>0</active>
                <model>sf3xep/payment_threetime</model>
                <title>Paiement en trois fois par carte bancaire</title>
                <allowspecific>0</allowspecific>
                <cctypes>CB,VISA,EUROCARD_MASTERCARD,E_CARD</cctypes>
                <status>
                    <intermediary>sf3xep_intermediary</intermediary>
                    <paid>sf3xep_paid</paid>
                </status>
                <action>immediate</action>
                <tds_active>always</tds_active>
                <cards>
                    <CB>
                        <label>CB</label>
                        <image>images/sf3xep/cb.45.png</image>
                        <payment>CARTE</payment>
                        <card>CB</card>
                    </CB>
                    <VISA>
                        <label>Visa</label>
                        <image>images/sf3xep/visa.45.png</image>
                        <payment>CARTE</payment>
                        <card>VISA</card>
                    </VISA>
                    <EUROCARD_MASTERCARD>
                        <label>Mastercard</label>
                        <image>images/sf3xep/mastercard.45.png</image>
                        <payment>CARTE</payment>
                        <card>EUROCARD_MASTERCARD</card>
                    </EUROCARD_MASTERCARD>
                    <E_CARD>
                        <label>E-Carte Bleue</label>
                        <image>images/sf3xep/ecartebleue.45.png</image>
                        <payment>CARTE</payment>
                        <card>E_CARD</card>
                    </E_CARD>
                </cards>
            </sf3xep_threetime>
            <sf3xep_private>
                <active>0</active>
                <model>sf3xep/payment_private</model>
                <title>Paiement par carte privative</title>
                <allowspecific>0</allowspecific>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <action>immediate</action>
                <delay>1</delay>
                <cards>
                    <AMEX>
                        <label>American Express</label>
                        <image>images/sf3xep/amex.45.png</image>
                        <payment>CARTE</payment>
                        <card>AMEX</card>
                    </AMEX>
                    <DINERS>
                        <label>Diners</label>
                        <image>images/sf3xep/diners.45.png</image>
                        <payment>CARTE</payment>
                        <card>DINERS</card>
                    </DINERS>
                    <JCB>
                        <label>JCB</label>
                        <image>images/sf3xep/jcb.45.png</image>
                        <payment>CARTE</payment>
                        <card>JCB</card>
                    </JCB>
                </cards>
            </sf3xep_private>
            <sf3xep_paypal>
                <active>0</active>
                <model>sf3xep/payment_paypal</model>
                <title>Paiement par Paypal</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <card1>
                        <label>Paypal</label>
                        <image>images/sf3xep/paypal.45.png</image>
                        <payment>PAYPAL</payment>
                        <card>PAYPAL</card>
                    </card1>
                </cards>
            </sf3xep_paypal>
            <sf3xep_paylib>
                <active>0</active>
                <model>sf3xep/payment_paylib</model>
                <title>Paiement par Paylib</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <PAYLIB>
                        <label>Paylib</label>
                        <image>images/sf3xep/paylib.45.png</image>
                        <payment>WALLET</payment>
                        <card>PAYLIB</card>
                    </PAYLIB>
                </cards>
            </sf3xep_paylib>
            <sf3xep_prepaid>
                <active>0</active>
                <model>sf3xep/payment_prepaid</model>
                <title>Paiement par cagnotte ou ticket prépayé</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <LEETCHI>
                        <label>Leetchi</label>
                        <image>images/sf3xep/leetchi.45.png</image>
                        <payment>LEETCHI</payment>
                        <card>LEETCHI</card>
                    </LEETCHI>
                    <PSC>
                        <label>Paysafecard</label>
                        <image>images/sf3xep/paysafecard.45.png</image>
                        <payment>PREPAYEE</payment>
                        <card>PSC</card>
                    </PSC>
                </cards>
            </sf3xep_prepaid>
             <sf3xep_financial>
                <active>0</active>
                <model>sf3xep/payment_financial</model>
                <title>Paiement par carte et moyen de financement</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <COFINOGA>
                        <label>Carte Cofinoga</label>
                        <image>images/sf3xep/cofinoga.45.png</image>
                        <payment>CARTE</payment>
                        <card>COFINOGA</card>
                    </COFINOGA>
                    <AURORE>
                        <label>Carte Aurore</label>
                        <image>images/sf3xep/aurore.45.png</image>
                        <payment>CARTE</payment>
                        <card>AURORE</card>
                    </AURORE>
                    <UNEURO>
                        <label>1euro.com</label>
                        <image>images/sf3xep/1euro.45.png</image>
                        <payment>CREDIT</payment>
                        <card>UNEURO</card>
                    </UNEURO>
                </cards>
            </sf3xep_financial>
            <sf3xep_bcmc>
                <active>0</active>
                <model>sf3xep/payment_bcmc</model>
                <title>Paiement par Bancontact/Mistercash</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <tds_active>always</tds_active>
                <cards>
                    <BCMC>
                        <label>Bancontact/Mistercash</label>
                        <image>images/sf3xep/none.45.png</image>
                        <payment>CARTE</payment>
                        <card>BCMC</card>
                    </BCMC>
                </cards>
            </sf3xep_bcmc>
            <sf3xep_maestro>
                <active>0</active>
                <model>sf3xep/payment_maestro</model>
                <title>Paiement par carte Maestro</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <delay>1</delay>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <tds_active>always</tds_active>
                <cards>
                    <MAESTRO>
                        <label>Carte Maestro</label>
                        <image>images/sf3xep/maestro.png</image>
                        <payment>CARTE</payment>
                        <card>MAESTRO</card>
                    </MAESTRO>
                </cards>
            </sf3xep_maestro>
            <sf3xep_paybuttons>
                <active>0</active>
                <model>sf3xep/payment_paybuttons</model>
                <title>Paiement par Paybutton</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <IDEAL>
                        <label>iDEAL</label>
                        <image>images/sf3xep/ideal.45.png</image>
                        <payment>PREPAYEE</payment>
                        <card>IDEAL</card>
                    </IDEAL>
                    <PAYBUTTING>
                        <label>ING HomePay</label>
                        <image>images/sf3xep/paybutting.45.png</image>
                        <payment>PAYBUTTONS</payment>
                        <card>PAYBUTTING</card>
                    </PAYBUTTING>
                </cards>
            </sf3xep_paybuttons>
            <sf3xep_kwixo_standard>
                <active>0</active>
                <model>sf3xep/payment_kwixo_standard</model>
                <title>Paiement par carte bancaire avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <STANDARD>
                        <label>Kwixo</label>
                        <image>images/sf3xep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>STANDARD</card>
                    </STANDARD>
                </cards>
            </sf3xep_kwixo_standard>
            <sf3xep_kwixo_onexrnp>
                <active>0</active>
                <model>sf3xep/payment_kwixo_onexrnp</model>
                <title>Paiement à la réception avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <XRNP>
                        <label>Kwixo</label>
                        <image>images/sf3xep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>1XRNP</card>
                    </XRNP>
                </cards>
            </sf3xep_kwixo_onexrnp>
            <sf3xep_kwixo_credit>
                <active>0</active>
                <model>sf3xep/payment_kwixo_onexrnp</model>
                <title>Paiement en plusieurs fois avec Kwixo</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <CREDIT>
                        <label>Kwixo</label>
                        <image>images/sf3xep/kwixo_standard.45.png</image>
                        <payment>KWIXO</payment>
                        <card>CREDIT</card>
                    </CREDIT>
                </cards>
            </sf3xep_kwixo_credit>
            <sf3xep_masterpass>
                <active>0</active>
                <model>sf3xep/payment_masterpass</model>
                <title>Paiement par Masterpass</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <MASTERPASS>
                        <label>Masterpass</label>
                        <image>images/sf3xep/masterpass.45.png</image>
                        <payment>WALLET</payment>
                        <card>MASTERPASS</card>
                    </MASTERPASS>
                </cards>
            </sf3xep_masterpass>
            <sf3xep_illicado>
                <active>0</active>
                <model>sf3xep/payment_illicado</model>
                <title>Paiement par Illicado</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <ILLICADO>
                        <label>Illicado</label>
                        <image>images/sf3xep/illicado.45.png</image>
                        <payment>PREPAYEE</payment>
                        <card>ILLICADO</card>
                    </ILLICADO>
                </cards>
            </sf3xep_illicado>
            <sf3xep_ancv>
                <active>0</active>
                <model>sf3xep/payment_ancv</model>
                <title>Paiement par Ancv</title>
                <allowspecific>0</allowspecific>
                <action>immediate</action>
                <status>
                    <authorized>sf3xep_authorized</authorized>
                    <paid>sf3xep_paid</paid>
                </status>
                <cards>
                    <ILLICADO>
                        <label>Ancv</label>
                        <image>images/sf3xep/ancv.45.png</image>
                        <payment>LIMONETIK</payment>
                        <card>ANCV</card>
                    </ILLICADO>
                </cards>
            </sf3xep_ancv>
        </payment>
    </default>
</config>
